.button {
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 12px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  transition-duration: 0.4s;
  padding: 14px 40px;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}


.button--rounded {
  border-radius: 100px;
}

.button--bordered-green {
  padding: 7px 10px;
  border-color: #1DD1A1;
  color: #1DD1A1;
  border: 2px solid;
}

.button--bordered-green:hover {
  background-color: #1DD1A1;
  color: #fff;
}


.button--contained-green {
  background-color: #1DD1A1;
  color: #fff;
}

.button--contained-green:hover {
  background-color: #00b894;
  border-color: #00b894;
  color: #fff;
}